<h2>Acerca de la Aplicación</h2>
<p>¡Bienvenido a nuestra aplicación de práctica de Angular!</p>
<p>Esta aplicación es parte del laboratorio de Angular del programa de Master Frontend de Lemoncode. Fue desarrollada para que los estudiantes practiquen y apliquen los conocimientos adquiridos en el curso.</p>
<p>En esta aplicación, podrás explorar diferentes conceptos de Angular, como componentes, servicios, routing, formularios, y mucho más. También implementamos Angular Material para mejorar la experiencia de usuario y darle un aspecto moderno a la aplicación.</p>
<p>¡Esperamos que disfrutes aprendiendo y desarrollando tus habilidades con nuestra aplicación!</p>