<div class="gallery-container">
  <div class="selected-photo">
    <img [src]="photos[selectedPhotoIndex].src" [alt]="photos[selectedPhotoIndex].title">
  </div>

  <div class="photo-list">
    <div *ngFor="let photo of photos; let i = index" (click)="selectedPhotoIndex = i">
      <img [src]="photo.src" [alt]="photo.title">
    </div>
  </div>

  <div class="button-container">
    <button (click)="previousPhoto()" [disabled]="isFirstPhoto()">Anterior</button>
    <button (click)="nextPhoto()" [disabled]="isLastPhoto()">Siguiente</button>
    <button (click)="startSlideshow()" *ngIf="!slideshowActive">Play</button>
    <button (click)="stopSlideshow()" *ngIf="slideshowActive">Stop</button>
  </div>
</div>
